.aside-menu {
  margin: 30px 50px 50px;
  &__logo {
    width: 120px;
    height: 100px;
    margin-bottom: 30px;
    object-fit: contain;
    img {
      width: 80%;
      height: 80%;
    }
  }
  &__title {
    margin-bottom: 30px;
    h1 {
      font-size: 36px;
      font-weight: 700;
      color: #010101;
    }
  }
  &__list {
    list-style-type: none;
    padding: 0;
  }
  &__item {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: #010101;
    padding: 10px;
  }
}
